.footer__copyright {
  color: #545454;
  font-size: 18px;
  line-height: 1.21;
  font-weight: 400;
  padding-top: 68px;
  margin: 0;
}

@media screen and (max-width: 424px) {

  .footer__copyright {
    padding-top: 50px;
    font-size: 14px;
  }
}
